// layout.scss

.TrintPlayer {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: $spacing;

  .PlayerRateControl {

  }

  .PlayerSearch {

  }

  .PlayerVideo {
    margin-bottom: $spacing;
  }

  .PlayerTranscript {
    article {
    }
    header {
      h1 {
        margin-bottom: $spacing;
      }
    }
    section {
      p {
        margin-top: $spacing;
        span {
        }
      }
    }
  }

  .PlayerAudio {

  }

}
